.homeHero-section {
    padding-top: 58px;
    .homeHero__content {
        display: flex;
        flex-wrap: wrap;
        align-items: center  ;
        justify-content: space-between;
        gap: 40px;
        .home__hero-left {
            max-width: 560px;
            h1 {
                font-size: 64px;
                font-weight: 600;
                line-height: 72px;
                letter-spacing: -0.03em;
                color: #1D3444;
                margin-bottom: 12px;
            }
            p {
                font-size: 18px;
                font-weight: 500;
                line-height: 30px;
                color: #5B5B5B;
                margin-bottom: 32px;
            }
            .home__hero-btns {
                display: flex;
                align-items: center;
                gap: 40px;
                margin-bottom: 56px;
                a:first-child {
                    background: #F58A07;
                    border-radius: 27px;
                    padding: 18px 32px;
                    color: white;
                    font-family: Poppins;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 17.04px;
                    text-align: left;
                }
                a:last-child {
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 17.04px;
                    color: #1D3444;
                }
            }
            h5 {
                font-size: 18px;
                font-weight: 400;
                line-height: 30px;
                color: #39414980;
                margin-bottom: 18px;
            }
            .home__hero-companies {
                display: flex;
                align-items: center;
                gap: 45px;
            }
        }
        .home__hero-right {
            margin-right: -80px;
        }
    }
}

@media (max-width: 1452px) {
    .homeHero-section {
        .homeHero__content {
            .home__hero-right {
                order: -1;
                margin-right: 0;
            }
            .home__hero-left {
                max-width: 800px;
                .home__hero-companies {
                    flex-wrap: wrap;
                    justify-content: space-between;
                }
            }
        }
    }
    
}

@media (max-width: 774px) {
    .homeHero-section {
        .homeHero__content {
            .home__hero-right {
                width: 100%;
            }
            .home__hero-left {
                max-width: 800px;
                h1 {
                    font-size: 36px;
                    line-height: 40px;
                }
                p {
                    font-size: 16px;
                }
                .home__hero-btns {
                    gap: 20px;
                    a:first-child {
                        padding: 10px 16px;
                    }
                }
                .home__hero-companies {
                    flex-wrap: wrap;
                    justify-content: start;
                }
            }
        }
    }
    
}