@font-face {
    font-family: Poppins;
    src: url('../../fonts/Poppins-Regular.ttf');
}
@font-face {
    font-family: Poppins500;
    src: url('../../fonts/Poppins-Medium.ttf');
}
@font-face {
    font-family: Poppins600;
    src: url('../../fonts/Poppins-SemiBold.ttf');
}
@font-face {
    font-family: Poppins700;
    src: url('../../fonts/Poppins-Bold.ttf');
}
@font-face {
    font-family: Poppins900;
    src: url('../../fonts/Poppins-Black.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');